@font-face {
  font-family: "Norse Bold";
  src: url("/fonts/ShareTechMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Norse Bold";
}

/*CONTAINER*/
/*CONTAINER*/
/*CONTAINER*/
/*CONTAINER*/
/*CONTAINER*/
/*CONTAINER*/
/*CONTAINER*/

.container {
  display: grid;
  grid-template-columns: 330px 2fr 1fr;
  grid-template-rows: 7vh 14vh 36vh 33vh 10vh;
}
/*HEADER*/
/*HEADER*/
/*HEADER*/
/*HEADER*/
/*HEADER*/
/*HEADER*/
/*HEADER*/

.header {
  margin-top: 10px;
  grid-column: 2/4;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 2fr 1.4fr;
  grid-template-rows: 1.5fr 2fr;
  box-shadow: 5px 6px 12px -3px rgba(134, 134, 134, 0.56);
}

.username {
  font-weight: bolder;
}

#bell {
  width: 30px;
  height: 30px;
  margin-right: 40px;
}

#isaacone {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#isaactwo {
  width: 80px;
  height: 80px;
}

#search-icon {
  width: 30px;
  height: 30px;
}

#search {
  margin-left: 30px;
  width: 700px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: rgb(201, 201, 201);
  margin-right: 360px;
}

.headerfirsthalf {
  grid-column: 1/3;
  align-items: center;
  display: flex;
  margin-left: 60px;
  margin-bottom: 25px;
}

.headersecondhalf {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  margin-top: -20px;
  margin-left: 60px;
}

.headersecondhalffirst {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 800px;
}

#useruser {
  margin-top: 5px;
  font-size: 25px;
}

button {
  margin-left: 20px;
  font-size: 18px;
  background-color: rgb(170, 118, 83);
  border: none;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 25px;
  padding-left: 25px;
  color: white;
}

button:hover {
  background-color: rgb(187, 139, 107);
  cursor: pointer;
}

/*SIDERBAR*/
/*SIDERBAR*/
/*SIDERBAR*/
/*SIDERBAR*/
/*SIDERBAR*/
/*SIDERBAR*/
/*SIDERBAR*/

.sidebar {
  padding-left: 10px;
  padding-top: 15px;
  color: white;
  grid-column: 1/2;
  grid-row: 1/6;
  background-color: rgb(138, 120, 71);
}

.dashboarddisplay {
  font-weight: bolder;
  display: flex;
  align-items: center;
  font-size: 25px;
  text-align: center;
  gap: 15px;
  margin-bottom: 30px;
}

.maindashboardsections {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  font-weight: bold;
}

.supportdashboardsections {
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.home,
.profile,
.characters,
.cardsandrunes,
.bestiary,
.items,
.trinkets,
.lore,
.settings,
.privacy,
.othergames {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

#dashboardicon {
  width: 55px;
  height: 55px;
}

.sidebaricon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%)
    hue-rotate(258deg) brightness(101%) contrast(101%);
  width: 30px;
  height: 30px;
}

/*CONTENT*/
/*CONTENT*/
/*CONTENT*/
/*CONTENT*/
/*CONTENT*/
/*CONTENT*/
/*CONTENT*/
/*CONTENT*/
/*CONTENT*/
.content {
  grid-column: 2/4;
  grid-row: 3/6;
  background-color: rgb(209, 207, 205);
  display: grid;
}

.articles {
 
}

.announcementsandtrending{

}

.likedislike {
  width: 20px;
  height: 30px;
}

.trendingicon {
  width: 30px;
  height: 30px;
}

.announcementsandtrending {
  grid-column: 3/4;
  grid-row: 3/5;
}
